* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    width: 100vw;
    height: 100vh;
    padding: 1%;
    flex-direction: column;
    background-color: rgb(79, 79, 187);
}
header, nav, aside, section, article, footer {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    background-color: white;
    border: 3px black solid;
}
header, nav {
    flex: 1;
    padding: 10px;
}
main {
    flex: 27;
}
body, main, .container {
    display: flex;
    gap: 10px;
}
footer {
    position: fixed;
    width: 98vw;
    bottom: 1vw; 
    flex: 3;
    padding: 10px;
}
aside, section, article {
    flex: 1;
}
.container {
    flex: 3;
    flex-direction: column;
}