main {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(10, 1fr);
  gap: 20px;
}
.container {
  width: 60vw;
  margin: auto;
  padding: 10px 20px;
  text-align: justify;
  display: flex;
  gap: 10px;
}
.image-container {
  flex: 1;
  background-size: cover;
  border: 1px solid black;
  border-radius: 10px;
}
.text-container {
  flex: 3;
}
.pal {
  background-image: url(img/guerra-de-palmares.jpg);
}
.emb {
  background-image: url(img/guerra-dos-emboabas-og.jpg);
}
.mas {
  background-image: url(img/batalha-guararapes.jpg);
}
.min {
  background-image: url(img/Inconfidencia-Mineira.jpg);
}
.cis {
  background-image: url(img/pintura-juan-manuel-blanes-retra.jpg);
}
.far {
  background-image: url(img/800px-MuseuJulio11.jpg);
}
.par {
  background-image: url(img/guerra-Paraguai.jpg);
}
.arm {
  background-image: url(img/revolta-da-armada-1893.jpg);
}
.con {
  background-image: url(img/constitucionalista.jpg);
}
.seg {
  background-image: url(img/Brasil-na-Segunda-Guerra-Mundial.jpg);
}
