:root {
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'General Sans', sans-serif;
    color: inherit;
}
html {
    scroll-behavior: smooth;
}  
body {
    overflow-x: hidden;
}
body::-webkit-scrollbar {
    display: none;
}  
.hero {
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}
nav {
    width: 100vw;
    height: 10vh;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #f3f4f6;
}
nav a {
    flex: 1;
    text-decoration: none;
    font-weight: normal;
    font-size: 1.2em;
}
nav div{
    height: 5vh;
    border-left: 2px solid black;
}
main {
    height: 140vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}
main article {
    border-radius: 10px;
    flex: 1;
    padding: 10px;
    background-color: #f3f4f6;
}
main article h2 {
    margin-bottom: 10px;
    font-size: 2em;
}